@import './typography.css';
@import './colors.css';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box;
  font-kerning: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}